<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FusionAuthUrl" value="http://localhost:9011"/>
		<add key="ClientSecret" value="33052c8a-c283-4e96-9d2a-eb1215c69f8f-not-for-prod"/>
	</appSettings>
</configuration>