<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FusionAuthUrl" value="http://localhost:9011"/>
		<add key="ClientSecret" value="XLE1_6EawwxDsnM9x81uOqbxaOyO759aMXM25_edSThyPCHPsBT_8M9K"/>
	</appSettings>
</configuration>